<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Local Schools</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <script async defer src="
        https://maps.googleapis.com/maps/api/streetview?size=400x400&location=47.5763831,-122.4211769
        &fov=80&heading=70&pitch=0
        &key=AIzaSyDJWvHLY5y1wiI-_FmbFqJhvAIfWeafhB0&signature=YOUR_SIGNATURE"
            type="text/javascript">      
    </script>



</head>
</html>

